.error{
    margin: 10% auto;
    width: 60%;
    display: flex;
    justify-content: center;
    color: black;
    h2{
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 1em;
    }
    
    p{

        font-size: 1.2em;
    }

    .error--info{
        padding:20px 10px;
    }
    
}