.app {
  background-image: url("https://uploads6.wikiart.org/images/salvador-dali/the-persistence-of-memory-1931.jpg!Large.jpg");
background-repeat:no-repeat;
background-position: center;
background-size: cover;
border: 40px solid rgb(107, 60, 14);
height: 600px;
width: 900px;
  text-align: center;
display: flex;
flex-direction: column;

margin-top: 20%;
}