.digital-clock {
  position: absolute;
  left: 20%;
  top: 5%;
  transform: translate(50%);
  transform: translate(-50%);
  background-color: rgba(255, 218, 185, 0.698);
  width: 30%;
  border-radius: 20px;
  color: #dfab43;
  font-size: 1.2em;
  padding: 10px;

  &::after{
    content: "Local Time";
    font-size: 1.2em;
        font-weight: bold;
        letter-spacing: 1px;

  }
}
